.url {
  font-size: 24px;
  background-color: #eeeeff;
  width: 50%;
  margin: 20px auto;
  height: 120px;
}

.results {
	text-align: left;
	width:70%;
}
#result[href='#'] , #otherres[href='#'] {
  color:#999999;
}

.wrapper {
  text-align: center;
}
